<div class="gl-items-needed" ng-cloak>
    <h1>Items Needed</h1>
    <div>
        <span> Total {{ itemsNeeded.count}}</span>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#neededItemModal">Add Item</button>
    </div>
    <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Cost</th>
                <th scope="col">Type</th>
                <th scope="col">UPC Code</th>
                <th scope="col">Expires</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
          
</div>