<div class="gl-items-purchased" ng-cloak>
    <h1>Items Purchased</h1>
    <div>
        <span> Total {{ itemsNeeded.count}}</span>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Cost</th>
                <th scope="col">Type</th>
                <th scope="col">UPC Code</th>
                <th scope="col">Expires</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>